{% load staticfiles %}
{% load lab3_args %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lab3{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap-dropdown.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/my.css' %}">

</head>
<body>
<script src="{% static 'bootstrap/js/grid.js' %}"></script>

{% block navbar %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Lab3</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Your link</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user_name == None %}
                        <li><a href="/register/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="/register/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Hello, {{ user_name }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Room</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/register/logout">Exit</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
{% block menu %}
<div class="col-sm-3 sidenav">
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        {% for city in cities %}
            <li><a href="/{{ city.id }}">{{ city.name }}</a></li>
        {% endfor %}
    </ul>
    <br>
</div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-9">
                <section id="pinBoot">
                    {% for product in products %}
                        <article class="white-panel"><img src="http://i.imgur.com/sDLIAZD.png" alt="">
                            <h4><a href="/product/get/{{ product.id }}">{{ product.name }}</a></h4>
                            <ul>
                                {% for recall in product.id|get_recalls %}
                                    <li>{{ recall.text }}</li>
                                {% endfor %}
                            </ul>
                        </article>
                    {% endfor %}
                </section>
            </div>
        </div>
        <p>
    </div>
{% endblock %}
</body>
</html>